In [1]:
# Add the Pandas dependency.
import pandas as pd
## import library that allows us to escape characters 
import urllib.parse

In [2]:
# read csv.
alter_data = pd.read_csv("alternative.csv")
alter_data.head()

     country Code  Year    TWh_Unit   source continent
0  Argentina  ARG  2002    0.382037  Biofuel  Americas
1  Argentina  ARG  2006    1.276533  Biofuel  Americas
2  Argentina  ARG  1993    0.000000  Biofuel  Americas
3  Argentina  ARG  2018  114.132343  Biofuel  Americas
4  Argentina  ARG  2015    0.593335     Wind  Americas

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (4.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
## part of pymongo which allows python to connect to mongo in the cloud 
from pymongo import MongoClient

In [5]:
# Connect to MongoDB
## connection example from here https://medium.com/analytics-vidhya/how-to-upload-a-pandas-dataframe-to-mongodb-ffa18c0953c1
client = MongoClient("mongodb+srv://user:project1@project1.q26cg.mongodb.net/project1?retryWrites=true&w=majority")
db = client.project1
print(db)

Database(MongoClient(host=['project1-shard-00-02.q26cg.mongodb.net:27017', 'project1-shard-00-01.q26cg.mongodb.net:27017', 'project1-shard-00-00.q26cg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-s18gru-shard-0', tls=True), 'project1')

In [6]:
# a collection is something like a table in postgres except records can have any shape 
collection = db.project1
print(collection)

Collection(Database(MongoClient(host=['project1-shard-00-02.q26cg.mongodb.net:27017', 'project1-shard-00-01.q26cg.mongodb.net:27017', 'project1-shard-00-00.q26cg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-s18gru-shard-0', tls=True), 'project1'), 'project1')

In [7]:
# changing the index column of the dataframe 
alter_data.reset_index(inplace=True)
## concert the dataframe to a python dictionary 
### mongodb is like a dictionary in the cloud 
data_dict = alter_data.to_dict("records")
#print(data_dict)
# # Insert collection
collection.insert_many(data_dict)

In [9]:
# query mongodb collection
query_mongo_df  = pd.DataFrame(list(collection.find()))

In [11]:
query_mongo_df.head()

,_id,index,country,Code,Year,TWh_Unit,source,continent
0,620b1abdb0a414a43ca848e4,0,Argentina,ARG,2002,0.382037,Biofuel,Americas
1,620b1abdb0a414a43ca848e5,1,Argentina,ARG,2006,1.276533,Biofuel,Americas
2,620b1abdb0a414a43ca848e6,2,Argentina,ARG,1993,0.000000,Biofuel,Americas
3,620b1abdb0a414a43ca848e7,3,Argentina,ARG,2018,114.132343,Biofuel,Americas
4,620b1abdb0a414a43ca848e8,4,Argentina,ARG,2015,0.593335,Wind,Americas